# General Configuration
APP_NAME=fileMind
FRONTEND_URL=https://filemind.click
PORT=3001

# Database Configuration
DATABASE_URL=postgres://user:password@localhost:5432/filemind

# Redis Configuration
REDIS_URL=redis://localhost:6379

# Storage Configuration
TEMP_DIR=./temp_uploads
